<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table of Users</title>
</head>
<body>

<table>
    <caption>Table for users</caption>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Profession</th>
        <th>Experience (years)</th>
        <th>Action</th>
    </tr>
    <tr th:each ="user : ${userModels}">
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getProfession()}"></td>
        <td th:utext="${user.getYearsExp()}"></td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form> </td>

    </tr>
</table>
<br>
<br>

<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Add New User"/>
</form>




</body>
</html>